@model Portfolio.ViewModels.OrderCreate

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="AccountID" class="control-label">Account</label>
        <select asp-for="AccountID" asp-items="Model.Accounts" class="form-control"></select>
        <span asp-validation-for="AccountID" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="SecurityId" class="control-label">Security</label>
        <select asp-for="SecurityId" asp-items="Model.Securities" class="form-control">
            <option value="">Select a Security</option>
        </select>
        <span asp-validation-for="SecurityId" class="text-danger"></span>
    </div>

    <div>
        <label for="OrderType">Order Type</label>
        <select asp-for="OrderType" class="form-control">
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
        </select>
        <span asp-validation-for="OrderType" class="text-danger"></span>
    </div>


    <div class="form-group mb-3">
        <label asp-for="Quantity" class="control-label">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
